<!DOCTYPE html>
<html>
<head>
  <title>Aver Team Ruby Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
	<%= link_to "Projects", projects_path %>
	<%= link_to "Movies", movies_path %>
	<%= link_to "Future", future_path %>
    <%= link_to "About", about_path %>


<%= yield %>

</body>
</html>
